asgiref==3.12.1
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
cloudinary==1.46.2
cryptography==50.0.1
defusedxml==0.7.1
Django==6.1
django-allauth==65.19.3
django-ckeditor-5==0.2.20
django-cloudinary-storage==0.3.0
django-jazzmin==3.0.1
idna==3.19
oauthlib==3.3.1
pillow==12.3.0
pycparser==3.0
PyJWT==2.14.0
python-decouple==3.8
python3-openid==3.2.0
requests==2.34.2
requests-oauthlib==2.0.0
six==1.17.0
social-auth-app-django==6.0.1
social-auth-core==5.1.0
sqlparse==0.6.0
urllib3==2.7.0
